services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - GENIE_ENV=dev
      - ACCESS_TOKEN_SECRET=randomstring
      - ACCESS_TOKEN_EXPIRES_SECONDS=900
      - REFRESH_TOKEN_SECRET=randomstring
      - REFRESH_TOKEN_EXPIRES_SECONDS=86400
      - COOKIE_ACCESS_SECURE=false
      - COOKIE_REFRESH_SECURE=false
      - COOKIE_ACCESS_HTTPONLY=true
      - COOKIE_REFRESH_HTTPONLY=true
      - FRONTEND_ORIGIN=http://localhost:3000
    working_dir: /app
    command: [ "./entrypoint.sh" ]
    tty: true

  db:
    image: postgres:17.4
    volumes:
      - ./data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=project_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
